header {

    background: springgreen
}

.btn {

    color: white; padding: 8px 24px;
    border-radius: 4px;
    background: #1EDD88;
    transition: background 0.3s ease;
}

h1 {

    text-align: center;
}

header p {

    text-align: center;
    font-size: 23px
}

#imagen {

    text-align: -webkit-center; 
    padding: 20px;
}

footer {

    background: #F4F4F4;
    padding: 8px;
    color: rgba(0,0,0,0.3);
}

#footer {

    list-style-type: none; 
    font-size: 15px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    height: 70px; 
    padding: 0px 50px;
}

.fab {

    font-size: 30px;

}

